h2{
    text-align: center;
}

li{
    width: 350px;
    float: left;
}

ul li{
    list-style: none;
}

.card{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px;
    width: 350px;
    text-align: center;
    padding: 1em 0;
    background-color: rgb(32, 139, 32);
    margin: 2px 2px;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.6s;
    
  }

.card_inner p {
    margin: .4em 0;
}

.card_inner .card_small{
    
}